{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>JMJP</title>
    <!-- fixed position -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    
    <!-- Custom fonts for this template-->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    
</head>

<body id="page-top">
    
    <!-- Page Wrapper -->
    

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            
            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow" style="display:flex;">

                   


                    <!-- Topbar Search -->
                    {% if corp_infos %}
                    {% for corp_info in corp_infos %}
                    <div><h1 id = "searching" style="padding-left: 20px; font-weight: bold;" >{{corp_info.stock_name}}</h1></div>
                    {% endfor %}
                    {% else %}
                    <div><h1 style="padding-left: 20px; font-weight: bold;" >일치하는 회사명 없음</h1></div>
                    {% endif %}
                    <div>
                    <form
                        class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search"
                        method="POST" action="{% url 'search' %}"
                        >
                        {% csrf_token %}
                        <div class="input-group">
                            <input type="search" name="searched" value="{{ searched }}" class="form-control bg-light border-0 small" placeholder="회사명을 검색해 주세요."
                                aria-label="Search" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="submit">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                    </div>

                </div>

                    <!-- Topbar Navbar -->
                
                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">
                    
                    <!-- Page Heading -->
                    
                    {% if corp_infos %}
                    {% for corp_info in corp_infos %}
                    <div><h6 class="m-0 font-weight-bold text-primary card-header py-3 d-flex flex-row align-items-center justify-content-between">요약 재무 정보</h6></div>

                    
                    <!-- Content Row -->
                    <div class="row">

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div  class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                수익성</div>
                                            <div id="수익성" class="h5 mb-0 font-weight-bold text-gray-800">A+</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-success shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                                성장성</div>
                                            <div id="성장성" class="h5 mb-0 font-weight-bold text-gray-800">B+</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-arrow-up fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-info shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">건전성
                                            </div>
                                            <div class="row no-gutters align-items-center">
                                                <div class="col-auto">
                                                    <div id="건전성" class="h5 mb-0 mr-3 font-weight-bold text-gray-800">A-</div>
                                                </div>
                                                
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Pending Requests Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-warning shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                                기업 규모</div>
                                            <div id="기업규모" class="h5 mb-0 font-weight-bold text-gray-800">B+</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-users fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Content Row -->
                    
                    
                    <div class="row">

                        <!-- Area Chart -->
                        <div class="col-xl-8 col-lg-7">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between ">
                                    <h6 class="m-0 font-weight-bold text-primary">재무 정보 추이</h6>
                                    <div class="btn-group">
                                        
                                       </div>
                                      
                                      
                                    <div class="dropdown no-arrow">
                                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                            aria-labelledby="dropdownMenuLink">
                
                                            <button id ="selected" class="dropdown-item">영업이익</button>
                                            <button class="dropdown-item" href="#">매출액</button>
                                            
                                        </div>
                                    </div>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <div class="chart-area">
                                        <canvas id="myAreaChart"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Pie Chart -->
                        <div class="col-xl-4 col-lg-5">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">AI 기사 감성 분석 (오늘 기준)</h6>
                                    
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <div class="chart-pie pt-4 pb-2">
                                        <canvas id="myPieChart"></canvas>
                                    </div>
                                    <div class="mt-4 text-center small">
                                        <span class="mr-2"  >
                                            <i class="fas fa-circle text-primary"></i> 긍정 
                                            <span id = "positive">{{positive}}</span>%
                                        </span>
                                        <span class="mr-2">
                                            <i class="fas fa-circle text-danger"></i> 부정
                                            <span id = "negative">{{negative}}</span>%
                                        </span>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                

                
<!-- Begin Page Content -->
<!-- <div class="col-lg-12" style = "display: flex ;">
    <hr>
   
    <div class="col-lg-6 mb-4" >
        <div class="card shadow mb-4">
          <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">
              AI 기사 분석  
            </h6>
          </div>
          <div class="card-body">
            <div class="text-center">
              <img
                class="img-fluid px-3 px-sm-4 mt-3 mb-4"
                style="width: 25rem"
                src="{% static 'images/undraw_conference_re_2yld.svg' %}"
                alt="..."
              />
            </div>
            AI comments : {{corp_info.gpt_comment}}
          </div>
        </div>
    </div>  
    <div  class = "card col-lg-6 mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">감성 분석 추이 (긍정 기준)</h6>
          </div>
          
          <div class="card-body">
            <div class="chart-bar">
              <canvas id="myBarChart" ></canvas>
              <br>
              <div style="font-size:small">
              * 해당
              <span id="어제">{{ positive_prev1 }}</span>, 
              <span id="지난주">{{ positive_prev2 }}</span>, 
              <span id="지난달">{{ positive_prev3 }}</span> 값은 긍정 기준값입니다.</div>
            </div>
          </div>
    </div>  
   </div> -->

   <!-- Begin Page Content -->
<div class="col-lg-12" style = "display: flex; border-radius:10px;">
    <!-- Page Heading -->

    <!-- DataTales Example -->
    <div class="card col-lg-6 mb-4" >
        <!-- Illustrations -->
    
          <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">
              AI 기사 분석  
            </h6>
          </div>
          <div class="card-body">
            <div class="text-center">
              
            </div>
            
            <span id="comment" style="line-height: 30px;">  
             AI comments: {{corp_info.gpt_comment}}
            </span>
          </div>
    </div>  
    <div  class = "card col-lg-6 mb-4" style="margin-left:10px ;">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">감성 분석 추이(긍정 기준)</h6>
          </div>
          
          <div class="card-body">
            <div class="chart-bar">
              <canvas id="myBarChart" ></canvas>
              <div style="font-size:small">
                <br>
              * 해당
              <span id="어제">{{ positive_prev1 }}</span>, 
              <span id="지난주">{{ positive_prev2 }}</span>, 
              <span id="지난달">{{ positive_prev3 }}</span> 값은 긍정 기준값입니다.</div>
            </div>
          </div>
    </div>  
    
    </div>
    
    </div>

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">상세 재무 정보</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="ai" width="100%" cellspacing="0">
                    <thead >
                        <tr >
                            <th>항목</th>
                            <th>2022년</th>
                            <th>2021년</th>
                            <th>2020년</th>
                            <th>2019년</th>
                            
                        </tr>
                    </thead>
                    <tbody style="font-weight: bold;" >
                        <tr>
                            <td>Tiger Nixon</td>
                            <td>System Architect</td>
                            <td>Edinburgh</td>
                            <td>61</td>
                            <td>2011/04/25</td>
                           
                        </tr>
                        <tr>
                            <td>Tiger Nixon</td>
                            <td>System Architect</td>
                            <td>Edinburgh</td>
                            <td>61</td>
                            <td>2011/04/25</td>
                           
                        </tr>
                        <tr>
                            <td>Tiger Nixon</td>
                            <td>System Architect</td>
                            <td>Edinburgh</td>
                            <td>61</td>
                            <td>2011/04/25</td>
                           
                        </tr>
                        <tr>
                            <td>Tiger Nixon</td>
                            <td>System Architect</td>
                            <td>Edinburgh</td>
                            <td>61</td>
                            <td>2011/04/25</td>
                           
                        </tr>
                        <tr>
                            <td>Tiger Nixon</td>
                            <td>System Architect</td>
                            <td>Edinburgh</td>
                            <td>61</td>
                            <td>2011/04/25</td>
                           
                        </tr>
                        <tr>
                            <td>Tiger Nixon</td>
                            <td>System Architect</td>
                            <td>Edinburgh</td>
                            <td>61</td>
                            <td>2011/04/25</td>
                           
                        </tr>
                        <tr>
                            <td>Tiger Nixon</td>
                            <td>System Architect</td>
                            <td>Edinburgh</td>
                            <td>61</td>
                            <td>2011/04/25</td>
                           
                        </tr>
                        <tr>
                            <td>Tiger Nixon</td>
                            <td>System Architect</td>
                            <td>Edinburgh</td>
                            <td>61</td>
                            <td>2011/04/25</td>
                           
                        </tr>
                        
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <div>검색 결과가 없습니다.</div>
    {% endif %}
</div>
<!-- /.container-fluid -->

</div>
<!-- End of Main Content -->
                         
            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; JMJP</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    

    <!-- jquery , changeHTML linking-->
    
   
        
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script> 

    <!--Core plugin JavaScript-->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static 'js/sb-admin-2.min.js' %}"></script>

    <!-- Page level plugins -->
    <script src="{% static 'vendor/chart.js/Chart.min.js' %}"></script>
    
    <!-- Page level custom scripts -->

    
    
    <script src="{% static 'js/demo/chart-pie-demo.js' %}"></script>
    <script src="{% static 'js/demo/chart-area-demo.js' %}"></script>
    <script src="{% static 'js/demo/chart-bar-demo.js' %}"></script>
    <script charset = 'utf-8' src="{% static 'js/demo/changeHTML.js' %}"></script>
    


   
</body>

</html>